.filter-container {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}

.rainting-container {
  display: flex;
  align-items: flex-end;
}

.rainting-container > :first-child {
  margin-right: 8px;
}

.reset-filter-button {
  height: 42px;
  gap: 8px;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.sort-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 284px;
  margin-left: auto;
  margin-top: 24px;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .rainting-container {
    flex-direction: column;
    width: 100%;
  }

  .rainting-container > :first-child {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .sort-container {
    align-items: center;
    width: 100%;
    margin: 0;
  }
}
