.custom-label {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  color: "#000000";
  padding-bottom: 8px;
}

.custom-input {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 12px;
}

.custom-section {
  padding-right: 12px;
}

.custom-pil {
  color: #000000;
  background-color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.custom-pil button {
  display: none;
}
.custom-option:hover {
  background-color: #9854f6;
  color: #ffffff;
}

.custom-dropdown {
  border-radius: 8px;
}

.custom-wrapper:focus-within .custom-input {
  border: 1px solid #9854f6;
}

.multi-select {
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .multi-select {
    width: 100%;
  }
}
