.movies-container__title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
}

:root {
  --padding-top: 40px;
  --padding-right: 90px;
  --padding-bottom: 82px;
  --padding-left: 90px;
}

@media (max-width: 1200px) {
  :root {
    --padding-right: 60px;
    --padding-bottom: 60px;
    --padding-left: 60px;
  }
}

@media (max-width: 900px) {
  :root {
    --padding-right: 40px;
    --padding-bottom: 40px;
    --padding-left: 40px;
  }
}

@media (max-width: 600px) {
  :root {
    --padding-right: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
  }
}

.container {
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom)
    var(--padding-left);
}

@media (max-width: 320px) {
  .container {
    --padding-right: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
  }
}
